.idea/
*.iml
/pkg-calabash/nbproject/private/
/pkg-java/nbproject/private/
/pkg-saxon/nbproject/private/
/pkg-java/build/
/pkg-java/dist/
/pkg-saxon/build/
/pkg-saxon/dist/
/pkg-calabash/build/
/pkg-calabash/dist/
/pkg-calabash/src/org/expath/pkg/calabash/version.properties
/pkg-java/src/org/expath/pkg/repo/tui/version.properties
/pkg-saxon/src/java/org/expath/pkg/saxon/tools/version.properties
/pkg-java/target/
/pkg-saxon/target/
/pkg-calabash/target/
